h1{
	text-transform:uppercase; 
	color:#7d97ad }

#specialty,#name{  
	text-transform: uppercase;
	text-align: right;	
	font-family: "Monospace",	"Courier New" }

#name{ 
	font-size: 40px; }
	
#specialty{   
   font-weight: 550; }
   
hr{
   border: 2px solid #7d97ad; }
   
.main_picture , .pic , .image_of_logo{
   display:block  }
   
a{
   text-decoration: none;
   color: #000; }
